* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: -2rem;
}
body {
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #c2b4e0;
}
main {
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
    background-color: #c2b4e0;
    margin-top: 50px;
    align-items: center;
    
}
.linha-vertical {
  border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
 }
.Autores {
  display: flex;
  height: 430px;
  width: 1500px;
  background-color: #ffff;
  border: 5px solid #FFFFFF;
  border-radius: 15px;
  margin-bottom: 20px;
}
.Autor1{
  display: block;
  height: 300px;
  width: 1000px;
  margin-right: 5rem;
}
.Autor2{
  display: block;
  height: 300px;
  width: 1000px;
  margin-right: 5rem;
}
.Autor3{
  display: block;
  height: 300px;
  width: 1000px;
}
.info-autor {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
img {
  height: 140px;
  width: 140px;
}
.quote {
  padding-left: 5px;
  padding-top: 20px;
  position: relative;
  font-family: 'Righteous', cursive;
  color: black;
  font-size: 15px;
  text-align: center;
}
.quote:before {
  content: '\201C'; /* Código Unicode para o símbolo de aspas duplas */
  position: absolute;
  left: 2px;
  top: 6px;
  font-size: 30px;
  line-height: 1;
}
cite {
  display: block;
  margin-top: 10px;
  font-style: italic;
  font-family: 'Righteous', cursive;
}
.area {
  margin: 10px;
  padding-top: 10px;
  display: block;
  height: 300px;
  width: 400px;
  /*border: 2px solid #000;*/
}

.Frases-Autores {
  height: 440px;
  width: 900px;
  display: grid;
  background-color: #ffff;
  border: 5px solid #FFFFFF;
  border-radius: 15px;
  text-align: center;
}
.question {
  font-size: 18px;
  padding-bottom: 10px;
}
.neutralArea {
    width: 100%;
    display: grid;
    gap: 10px;
    align-content: center;
}
.item {
  background-color: #322d2d63;
  border-color: #000;
  color: #000;
  font-size: 18px;
  border: none;
  border-radius: 16px;
  height: 53px;
  padding: 4px;
  transition: filter 0.2s;
}

.item:hover {
  filter: brightness(0.9);

}
.hover {
  background-color: #ceb9fb;

}